/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;400&family=Righteous&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;200;400&family=Righteous&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300&family=Righteous&display=swap');

*{
    /* font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive; */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Righteous', cursive; */
    /* font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive; */
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top:2rem;
    scroll-behavior:smooth;
    /* background-color: #504d4d2a; */
}

/* :root{
    --main-color:#ff2c1f;
    --text-color:#020307;
    --bg-color:#fff; 
} */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0px;
    margin:0px;
    background-color: #020307;
    color:#fff;
    height: 2000px;
    /* background-color: var(--main-color); *
    /* color:var(--bg-color); */
}

header{
    position:fixed;
    font-size:20px;
    width:100%;
    top:0;
    right:0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:35px 100px;
    transition:0.5s;
    /* background-color: #f6483f; */
}

h1{
    font-size:30px;
    font-weight: 1500;
}

section{
    /* padding:4.5rem 0 1.5rem; */
    height:10vh;
    width:100%;
    /* min-height:740px; */
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center; 
}


.autoplay-progress
{
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.btn{
    padding:0.5rem 0.7rem;
    border-radius:4.5px;
    background-color:#ff2c1f;
    color:white;
}

.btn:hover{
    background-color: #020307;
    color:#ff2c1f;
    transition:0.5s ease;
}

.bx{
    font-size:22px;
    font-weight:bold;
    letter-spacing:2px;
    color:#ff2c1f;
}

.home-text{
    position:absolute;
    top:200px;
    z-index:11;
    padding:0 150px;
}
.home-text span{
    font-size: 18px;
    color:#fff;
    font-weight:0;
    text-transform: uppercase;
    /* text-height:2; */
}

.home-text h1{
    color:rgb(253, 253, 253);
    /* font-size:4rem; */
    font-weight:10;
    font-size: 65px;
    margin-top:1.3rem;
    margin-bottom:2rem;
    word-spacing:12px;
}

.heading1{
    padding-top:60px;
    padding-right:100px;
    width:1068px;
    min-height: 3vh;
    margin-left:248px;
    margin-right:auto;
    /* font-size:1.4rem; */
    /* font-weight:500; */
    text-transform:uppercase;
    border-bottom: 1px solid #ff2c1f;
}

.image-slide .swiper{
    /* padding-top:90px; */
    width: 100%;
    height: 100%;
}

.image-slide .swiper-slide {
    text-align: center;
    margin-top:140px;
    font-size: 18px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slide .swiper-slide img {
    /* margin-top:35px; */
    /* margin:auto; */
    /* margin-top:5px; */
    display: block;
    width: 100%;
    height: 100%;
    border-radius:15px;
    /* object-fit: cover; */
    /* z-index:-1; */
    opacity:0.4;
}

.logo{
    font-size:1.1rem;
    font-weight:600;
    color:red;
    display:flex;
    align-items: center;
    column-gap:0.5rem;
}


.logo.bx{
    font:24px;
    color:#ff2c1f;
    /* color:var(--main-color); */
}

#menu-icon{
    font-size: 24;
    font-weight: 400;
    cursor:pointer;
    display:none;
}

.navbar {
    display:flex;
    column-gap:5rem;
}

.navbar  li{
    position:relative;
}
.navbar  a{
    font-size:1.3rem;
    font-weight:500;
    color:white;
}


.navbar a::after{
    content:'';
    width:0;
    height:2px;
    background-color:#ff2c1f; 
    position:absolute;
    bottom:-4px;
    left:0px; 
    transition:0.5s all linear;
}

.navbar a:hover::after{
    width:100%;
}

.play{
    /* size:50px; */
    position:absolute;
    top:140%;
    right:-70%;
    color:#ff2c1f;
    /* bottom:10%; */
    /* size:4rem; */
}

.play .bx{
    background:#fff;
    padding:20px;
    font-size:2rem;
    border-radius:50%;
    border:4px solid rgb(2,3,7,0.5);
    color:#ff2c1f;
    /* z-index:-12; */
}

.play .bx:hover{
    background:rgb(163, 154, 154);
    /* background-color: #FF6D60; */
    color:#fff;
    transition:0.2s all linear;
}


.play .bx2{
    background:#fff;
    color:#fff;
    /* z-index:1; */
    padding:20px;
    border-radius:50%;
    border:4px solid rgb(2,3,7,0.5);
    position:absolute;
    top:-13px;
    right:-110px;
}

.play .bx2:hover{
    background-color:rgb(163, 154, 154);
    /* background-color: #fff; */
    color:#fff;
    transition:0.2s all linear;
}

.play .bx3{
    background:#fff;
    padding:20px;
    border-radius:50%;
    border:4px solid rgb(2,3,7,0.5);
    color:#ff2c1f;
    position:absolute;
    top:25px;
    right:-203px;
}

/* Define the grid container */

.movie-grid{
    padding-left:248px;
    padding-right:402px;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}
  
  /* Define the grid items */
.movie-poster {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
  /* Add hover effect */
.movie-poster:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/*        Main_cont            */
  
.main_cont{
    margin-top:145px;
}

.newletter{
    max-width:967px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    row-gap:2rem;
}

.newletter h2{
    text-align:center;
    font-size:35px;
}

.newletter form {
    background: white;
    padding:10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.newletter form input{
    border: none;
    outline: none;
}


section.footer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    height:100px;
    /* padding-left:890px; */
    align-items:center;
    justify-content: space-between;
}

.social{
    display:flex;
    align-items: center;
    column-gap:0.7rem;
}

.social .bx{
    background-color: black;
    padding:2px;
    font-size: 2rem;
    border-radius:50%;
    border:4px solid rgb(2,3,7,0.3);
    color:red;
}

.social .bx:hover{
    background-color:white;
    color:#020307;
    transition:0.2s all linear;
}

.copywrite{
    padding:20px;
    text-align: center;
    color:white;
}


@media(max-width:991px){
    header{
        padding: 18px 4%;
    }

    section{
        padding: 50px 4%;
    }

    .home-text{
        padding: 0 4%;
    }

    .home-text h1{
        font-size: 3rem;
    }
}
/* 
section.footer .hww{
   
} */
/*.footer .hww{
    /* /* display: flex;
    align-items: center; */
    /* display:flex; */
    /* align-items: center; 
}

.footer .social{
    height:10px;
}


/* .newletter form .email{
    /* width:1260px; 
} 
*/
.newletter form input::placeholder{
    color:black;
    font-size: 0.8rem;
    font-weight:300;
}

.newletter .btn{
    text-transform: uppercase;
    font-weight: 400;
    cursor:pointer;
}
/* 
.play .bx3:hover{
    background:rgb(163, 154, 154);
    color:#fff;
    transition:0.2s all linear;
}

.swiper-pagination-bullet{
    width: 4px !important;
    height: 4px !important;
    color:red;
    border-radius:0.2rem !important;
    background:white !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active{
    width:1.5rem !important;
    background:red !important;
}

.swiper-pagination{
    position: absolute;
    top:1090px;
    /* top:-100px; 
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index:20;
} 

/* */
/* 
.movies .box .box-image img{
    /* display: grid; 
    width:100%;
    height: auto;
} */

/* .movies-container{
    display:grid;
    align-items: center;
    justify-content: space-around;
    max-width:968px;
    /* margin-right:auto;
    margin-left: auto; */
    /* grid-template-columns:repeat(auto-fit,minmax(180px,auto));
    gap:1rem;
    margin-top:2rem;
    /* z-index:13; 
}

.box .box-img{
    display:grid;
    width:10px;
    height:30px;
    /* z-index:12; 
}

.box .box-img img{
    width:10%;
    height:30%;
     object-fit:cover;
    /* z-index:13; 
} */
/* .div1{
    position:absolute;
    top:100px;
} */


/* .cont{
    width:100%;
    height:100vh;
    /* min-height:640px; */
    /* position:relative;
    display: flex;
    align-items: center;
    justify-content: center; 
/* } */

/* .swiper-wrapper .swiper-slide img{
    width:80%;
} */

/* .cont img{
    position:absolute;
    width:100%;
    height:80vh;
    /* object-position: center;
    object-fit: cover;
    z-index:-1; */

/* .cont .swiper{
    width:80%;
    height:80vh;
} */

/* .cont .swiper-slide img{
    width:100%;
    height: fit-content;
} */

/* .home .swiper {
    width: 80%;
    height: 80vh;
} */
/* .home-text{
    padding-top:40px;
    position:relative;
    height:500px;
    width:100%;
} */

/* .home-text img{
    display: block;
    max-width: 100%;
    height: 80vh;
} */

/* .swiper-slide
{
    width:100%;
    min-height:640px;
    position:relative;
    display:flex;
    align-items:center;
    justify-content: center;
    background:rgb(2,3,7,0.5);
} */

/* .swiper-slide .home-text .text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
} */

/* .home .swiper-slide {
    width:100%;
    height:100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
} */

/* .home .swiper-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position:center;
    z-index:-1;
} */




/* #nav-1 a{
   

} */

/* .navbar a:hover::after{    
    width:100%;
} */
